@tailwind base;
@tailwind components;
@tailwind utilities;

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-top: 6px solid #b71c1c;
  }
  .shadoww {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  .linear{
    background: linear-gradient(to right, #C60205, #DD090B, #F41010);
  }
  
  .noto {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .noto-norm {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .text {
    background: linear-gradient(to right, #C60205, #F41010);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  
  .active {
    color: #DD090B;
  }
